* {
  box-sizing: border-box;
}

.autocomplete {
  width: 70%;
  margin: 15px auto;
}

.tabs-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
  width: 100%;
}
.mainInput__tab {
  padding: 5px 20px;
  background-color: aquamarine;
  border: 1px solid #0156c4;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.input-container {
  height: 250px;
  width: 100%;
  border: 1px solid rgb(27, 25, 129);
}
.selected {
  background-color: chartreuse;
}
